!!! 5
html
  head
    title teh swaharm dehmo

    link(rel='stylesheet' href='style.css' type='text/css')

    if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  
  body
    h1 dees iz teh swaharm on googol dehmo
    #map_canvas
