@font-face {
    font-family: 'AirstreamRegular';
    src: url('fonts/Airstream-webfont.eot');
    src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Airstream-webfont.woff') format('woff'),
         url('fonts/Airstream-webfont.ttf') format('truetype'),
         url('fonts/Airstream-webfont.svg#AirstreamRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
  padding: 0px;
  margin: 0 auto;
  border: 0px none;
  width: 100%;
  height: 90%;
}

#map_canvas {
  width: 100%;
  height: 90%;
}

h1 {
  font-family: AirstreamRegular; 
  font-size: 4em;
  text-align: center;
  text-shadow: #dddddd 3px 3px;
  color: #ac4400;
}

