/*
 * GENERAL
 */
a {
  text-decoration: none;
}

#menu li:last-child img {
  display: none;
}

.label {
  text-transform:uppercase;
}

ul {
  list-style-type: none;
}

/*
 *  BODY/TOP_BORDER/CONTAINER
 */
html, body {
  background-color:#D1D1D1;
  background-image:url("../images/gradient.jpg");
  background-repeat:repeat-x;
  margin:0px;
  padding:0px;
}

#top_border {
  width:100%;
  height:18px;
  background-color:#525252;
  z-index:1;
  position:absolute;
}

#container {
  width:1200px;
  height:925px;
  margin-left:auto;
  margin-right:auto;
  z-index:2;
  position:relative;
}

/*
 *  HEADER
 */
#header {
  width:1200px;
  height: 125px;
}

#header #logo {
  float:left;
}

#header #menu {
  float:right;
  margin-top: 90px;
}

#header #menu li {
  display:inline;
  margin-right: 15px;
}

#header #menu li a {
  color:#FFFFFF;
  font-family: ‘PT Sans’, Arial, sans-serif;
  font-weight: 700;
  font-size:12px;
  color:#FFFFFF;
}

#header #menu li a:hover {
  color:#616461;
}

#header #menu li img {
 margin-left: 15px;
 margin-bottom: -10px;
}

/*
 *  CONTENT
 */
#content {
  width:1200px;
  height:700px;
  background-color:#61646A;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
}

#content #title {
  float:left;
  font-family: 'Cabin', 'Arial', sans-serif;
  font-weight: 500;
  font-size:34px;
  text-shadow: 0 -1px #000;
  color:#FFFFFF;
  padding:5px;
  margin-bottom:0px;
  margin-top:0px;
  margin-right:0px;
  margin-left:10px;
}

#content #map_canvas {
  width:828px;
  height:625px;
  float:left;
  margin-left: 10px; 
}

/*
 * SIDEBAR
 */
#content #sidebar {
  width:325px;
  height:625px;
  float:right;
  margin-right:20px;
}

#content #sidebar #filter {
  height:35px;
  background-color:#525252;
  margin-bottom:10px;
}

#content #sidebar #filter #filter_tag {
  font-family:Cabin;
  font-size:14px;
  color:#FFFFFF;
  float:left;
  margin-left:5px;
  margin-top:9px;
}

#content #sidebar #filter #filter_combo {
  font-family:Cabin;
  font-size:14px;
  color:#63646A;
  float:right;
  margin-right:5px;
  width:250px;
  margin-top:7px;
}

#content #sidebar #resources {
  height:580px;
  margin:0px;
  padding:0px;
  overflow:auto;
  width:325px;
}

#content #sidebar #resources .resource {
  background-color:#77797E;
  height:100px;
  margin-bottom:10px;
}

#content #sidebar #resources .resource .car_icon_wrapper {
  background-image:url("../images/icon-car-list-inactive.png");
  background-repeat:no-repeat;
  width:50px;
  height:35px;
  float:left;
  margin:0px;
  padding:0px;
  margin-right:10px;
  margin-left:5px;
  margin-top:15px;
}

#content #sidebar #resources .resource.alive .car_icon_wrapper {
  background-image:url("../images/icon-car-list-active.png");
}

#content #sidebar #resources .resource .car_icon_wrapper .car_icon {
  position:absolute;
  left:-999em;
}

#content #sidebar #resources .resource .car_name {
  font-family:Cabin;
  font-size:18px;
  color:#FFFFFF;
  width:100px;
  height:35px;
  float:left;
  margin-top:15px;
}
 
#content #sidebar #resources .resource .feeds {
  height:50px;
  margin:0px;
  padding:0px;
  background-color:#707277;
  width:100%;
  float:left;
}

#content #sidebar #resources .resource .feeds .feed {
  width:35%;
  float:left;
  font-family:Arial;
  font-size:15px;
  color:#D7D7D7;
  margin-top:5px;
}

#content #sidebar #resources .resource .feeds .feed .icon_wrapper {
  margin:0px;
  padding:0px;
  font-family:Arial;
  font-size:15px;
  color:#D7D7D7;
  float:left;
  margin-left:8px;
}

#content #sidebar #resources .resource .feeds .feed.change .icon_wrapper {
  margin-top:5px;
  background-image:url("../images/icon-arrow-up.png");
  background-repeat:no-repeat;
  width:15px;
  height:15px;  
}

#content #sidebar #resources .resource .feeds .feed.change.down .icion_wrapper {
  background-image:url("../images/icon-arrow-down.png");
}

#content #sidebar #resources .resource .feeds .feed.change .icon_wrapper .label {
  position:absolute;
  left:-999em;
}

#content #sidebar #resources .resource .feeds .feed .data {
  font-family:Arial;
  font-size:15px;
  color:#FFFFFF;
  margin-left:2px;
  margin-top:2px;
}

/*
 *  FOOTER
 */
#footer {
  margin-left:auto;
  margin-right:auto;
  height:100px;
  width:1200px;
}

#footer #copyright {
  float:left;
  height:10px;
  font-family:Cabin;
  font-size:12px;
  color:#616461;
  margin:0;
  padding:0;
}
