a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*
 *  BODY/CONTAINER
 */
html, body {
  background-color:#D1D1D1;
  background-image:url("../images/gradient.jpg");
  background-repeat:repeat-x;
  font-family:Cabin, sans-serif;
  margin:0px;
  padding:0px;
}

#top_border {
  width:100%;
  height:18px;
  background-color:#525252;
  z-index:1;
  position:absolute;
}

#container {
  width:1200px;
  height:925px;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  z-index:2;
  position:relative;
}

/*
 *  HEADER
 */
#header {
  width:1200px;
  height: 125px;
}

#header #logo {
  float:left;
}

#header #menu {
  float:right;
  margin-top: 90px;
  font-family: ‘PT Sans’, Arial, sans-serif;
  font-weight: 700;
  font-size:12px;
  color:#FFFFFF;
}

#header #menu li {
  display:inline;
  margin-right: 15px;
}

#header #menu li a {
  color:#FFFFFF;
  height:25px;
  width:40px;
}

#header #menu li a:hover {
  color:#616461;
}

#header #menu li img {
 margin-left: 15px;
 margin-bottom: -10px;
}

/*
 *  CONTENT
 */
#content {
  width:1200px;
  height:700px;
  background-color:#616461;
  margin-top: 0px;
  border-radius: 5px;
  webkit-border-radius: 5px;
  moz-border-radius: 5px;
  khtml-border-radius: 5px;
}

#content #title {
  float:left;
  font-family: ‘Cabin’, Arial, sans-serif;
  font-weight: 500;
  font-size:34px;
  text-shadow: 0 -1px #000;
  color:#FFFFFF;
  padding:5px;
  margin:0px;
  margin-left:10px;
}

#content #map_canvas {
  width:828px;
  height:625px;
  float:left;
  margin-left: 10px; 
}

#content #sidebar {
  width:325px;
  height:625px;
  float:right;
  background-color:#333333;
  margin-right:20px;
}

#content #sidebar #resources {
  width:325px;
  margin-top:-16px;
}

#content #sidebar #resources ul {
  list-style-type: none;
}

/*
 *  RESOURCE LIST
 */
ul#resources {
  width:268px;
}

ul#resources li.resource {
  color: ;
}

ul#resources li.resource ul#feeds {
  color: ;
}

ul#resources li.resource ul#feeds li.feed {
  color: ;
}

ul#resources li.resource ul#feeds li.feed span.data {
  color: ;
}

/*
 *  FOOTER
 */
#footer {
  margin-left:auto;
  margin-right:auto;
  height:100px;
  width:1200px;
}

#footer #copyright {
  float:left;
  height:10px;
  font-size:12px;
  color:#616461;
  margin:0;
  padding:0;
}
