html
  head
    title Lepidoptera | BUGSwarm Fleetwatcher
    link(href="public/stylesheets/style.css" type="text/css" rel="stylesheet")
    link(type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cabin")
    script(src="http://107.20.250.52/socket.io/socket.io.js") 
    script(src="http://maps.google.com/maps/api/js?sensor=false") 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js") 
    script(src="public/javascript/menu.js") 
    script(src="public/javascript/main.js") 
  body
    #over_bgn
    #container
      #header
        #titles.shadow
          h1 Lepidoptera:
          h2 BUGSwarm Fleetwatcher
        .links
          h3#buglabs.shadow
            a(href="http://buglabs.net") Buglabs
          #motto Build. Connect. Share
      #content.shadow
        #map
        #pipe
        #sidebar
          ul.menu.noaccordion
      #footer
        .links
          a#magic(name="magic" href="bugswarm.net:33/add") Click for Magic!
        #copyright
          p © Bug Labs, Inc.
    script
      window.initialize()
